body {
    margin: 0;
    background: rgb(63, 63, 63);
    font-family: "Montserrat", comic-sans;
}

.content .area-conteudo {
    background: rgb(109, 109, 109);
    margin: 20px;
    width: 700px;
    height: 889px;
    border-radius: 20px;
}

.area-lateral {
    width: 30%;
    height: 889px;
    margin: 20px;
    border-radius: 20px;
    background: rgb(0, 132, 255);
}

.image-area {
    height: 40%;
}

.image-area .image {
    height: 200px;
    width: 200px;
    background: rgb(177, 177, 177);
    border-radius: 50%;
}

.image-area .nome {
    color: #fff;
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
}
