body {
    margin: 0;
    background: rgb(63, 63, 63);
    font-family: "Montserrat", comic-sans;
    color: #fff;
}

@media (max-width: 1124px) {
    .content {
        flex-direction: column;
    }
}

.content .area-conteudo {
    background: rgb(109, 109, 109);
    margin: 20px;
    width: 700px;
    height: 889px;
    border-radius: 20px;
}

@media (max-width: 1124px) {
    .content .area-conteudo {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
}

.area-lateral {
    width: 30%;
    height: 660px;
    margin: 20px;
    border-radius: 20px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(5,95,178,1) 0%, rgba(4,129,200,1) 39%, rgba(0,212,255,1) 100%);
}

@media (max-width: 1124px) {
    .area-lateral {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
}

.area-lateral .contato {
    align-self: flex-end;
    height: 47%;
    padding: 24px;
}

.area-lateral .contato .title{
    margin-top: 20px;
    margin-bottom: 8px;
    font-size: 1.2em;
}

.area-lateral .contato .info-contato {
    margin-left: 12px;
}

.area-lateral .contato .info-contato img{
    max-width: 16px;
    height: auto;
    margin-right: 8px;
}

.area-lateral .contato .info-contato .social-item-area {
    margin-bottom: 5px;
}

.area-lateral .image-area {
    height: 50%;
}

.area-lateral .image-area .image {
    height: 200px;
    width: 200px;
    background: rgb(177, 177, 177);
    border-radius: 50%;
}

.area-lateral .image-area .image img {
    border-radius: 50%;
    height: 100%;
}

.area-lateral .image-area .nome {
    color: white;
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
}

.area-conteudo {
    padding: 24px;
}

.area-conteudo .title-conteudo {
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 8px;
}

.area-conteudo .title-conteudo:hover {
    text-decoration: underline;
}